.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;

  padding: 20px;
  border-left: 2px solid #ddd;
  border-radius: 15px;

  background-color: #e5f2f3;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.messages {
  padding-right: 15px;
  margin-bottom: 15px;

  max-height: calc(100% - 70px);
  overflow-y: auto;
  scroll-behavior: smooth;
}

.message {
  width: 75%;
  padding: 10px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.message:hover {
  transform: scale(1.02);
}

.message_right {
  margin-left: auto;
  text-align: right;
  background-color: #d1ffd7;
}

.message:not(:last-child) {
  margin-bottom: 20px;
}

.message__info {
  margin-bottom: 8px;
  font-size: 12px;
  color: #7a7a7a;
}

.message__info_you {
  color: #ff6347;
}

.chat__form {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.chat__input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: border 0.3s ease;
}

.chat__input:focus {
  border-color: #007bff;
  background-color: #fff;
}

.chat__btn {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: #007bff;
  background: url("../../img/paper-plane.svg") #007bff center / 20px no-repeat;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.chat__btn:hover {
  background-color: #0056b3;
}
